img {
  max-width: 100%;
}

@media screen and (min-width: 800px) {
  /* img{

        max-width: 100vw;
        
    }

    p{
        font-size: 30px;
    }
    li{
        font-size: 30px;
    }
    h3{
        font-size: 30px;
    } */
  .IntroWrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .MoneyShot,
  .IntroText {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: center;
  }

    .IntroText {
      padding: 0.5rem;
      text-align: left;
      font-size: 2.5rem;
    }

    .Ingredients {
      font-size: 0.9rem;
      float: right;
      padding: 1rem;
      margin: 0 0 0.5rem 1rem;
      border-radius: 3px;
      background-color: #ffffdf;
      border: 2px solid cyan;
    }
    .Ingredients h3 {
      margin: 0;
    }
  }

