
.web-header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    width: 100%;
}



.web-logo > img{
    width: 100px;
    height: 80px;
    margin: 30px;
}

.web-categories > a{
    margin: 70px;
    font-weight: 700;
}

.web-search{
    display: flex;
}

.search-container{
    background-color: rgb(231, 230, 230);
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px;
    margin-right: 10px;
}


.search-container > input {
        border: none;
        background-color: rgb(231, 230, 230);
        padding: 5px;
}


.icon-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.icon-container > i {
    align-items: center;
    font-size: 20px;
    margin: 10px;
}
